:root {
  --box-border-radius : 8px;
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 81.25%;
}

.adl-btn {
  appearance:none;  /* reset all property */
  color: rgba(26, 115, 232, 1);
  text-align: center;
  background-color: #fff;
  font-weight: 600;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px ;
  padding : 8px 16px;
  user-select: none;
  -webkit-user-select: none;  /* for older browser */
  cursor: pointer;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  transition: background-color 150ms;
}

.adl-btn.dark {
  color: rgb(138, 180, 248);
  background-color: rgb(41, 42, 45);
  border-color: rgb(95, 99, 104);
}

.adl-btn:hover {
  background-color: rgb(248, 250, 255);
  border-color: rgb(210, 227, 252);
}

.adl-btn:active {
  box-shadow:  /* chrome shadow style */
    0 1px 1px 0 rgba(0, 0, 0, 0.3),
    0 3px 6px 2px rgba(0, 0, 0, 0.15)
  ;
}

.adl-btn.dark:hover {
  background-color: rgb(49, 53, 60);
  border-color: rgb(95, 99, 104);
}

body{
  text-align: center;
}

.darkMode{
  background-color: rgb(32, 33, 36);
  padding: 40px 0px;
  margin: 20px 0px;
}

.adl-box{
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 3px 6px 2px rgba(0, 0, 0, 0.15)
  ;
  border-radius: var(--box-border-radius);
  min-width: 500px;
  max-width: 700px;
  background-color: #fff;
}

.adl-box.dark{
  color: rgb(232, 234, 237);
  background-color: rgb(41, 42, 45);
}

.item1{
  border-top: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 0.8rem;
}

.adl-item{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-top: 1px solid rgb(240, 240, 240);
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 200ms;
}

.adl-item.dark{
  border-top-color: rgb(83, 83, 85);
}

.adl-item:hover{
  background: rgb(240, 240, 240);
  border-top-color: rgb(218, 218, 219);
}

.adl-item.last:hover{
  /* border-radius:0px 0px var(--box-border-radius) var(--box-border-radius); */
}

.adl-item.dark:hover{
  background: rgb(63, 64, 66);
  border-top-color: rgb(83, 83, 85);
}

.adl-item.dark.last:hover{
  border-radius:0px 0px var(--box-border-radius) var(--box-border-radius);
}

.account-status{
  font-weight: 400;
  color: gray;
}

.account-status.dark{
  color: rgb(154, 160, 166)
}

.itemLeft{
  flex-grow:1;
  text-align:left;
}

.adl-avatar{
  width: 40px;
  height: 40px;
  border-radius:50%;
}

.adl-nameCard{
  text-align: left;
  display: flex;
  align-items:center;
}

.blueArea{
  background-color: skyblue;
  height: 400px;
  padding-top: 50px ;
}

.cloud{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  /* margin: 50px auto; */
  border-radius: 50%;
  border: none;
  box-shadow:
    0 -10px 5px -7px #166,
    50px 0 0 -3px #fff,
    50px -5px 5px -3px #166,
    -50px 0 0 8px #fff,
    -54px -5px 5px 4px #166,
    -65px 50px 0 10px #fff,
    -69px 55px 5px 5px #166,
    130px 0px 0 10px #fff,
    132px -2px 5px 10px #166,
    110px 50px 0 10px #fff,
    113px 52px 5px 10px #166,
    10px 80px 0 10px #fff,
    10px 82px 5px 10px #166
  ;
  transition:left 1s, top 1s ,box-shadow 200ms,background-color 200ms;
}

.cloud:hover{
  background-color: #dcebff;
  box-shadow:
    0 -10px 5px -7px blue,
    50px 0 0 -3px #dcebff,
    50px -5px 5px -3px blue,
    -50px 0 0 8px #dcebff,
    -54px -5px 5px 4px blue,
    -65px 50px 0 10px #dcebff,
    -69px 55px 5px 5px blue,
    130px 0px 0 10px #dcebff,
    132px -2px 5px 10px blue,
    110px 50px 0 10px #dcebff,
    113px 52px 5px 10px blue,
    10px 80px 0 10px #dcebff,
    10px 82px 5px 10px blue
  ;
}
