:root {
  --spacing-track: 0.5rem;
  --color-background: #fdfcff;
  --color-on-background: #1a1c1e;
  --color-primary: #015fac;
  --color-on-primary: #ffffff;

  --elevation-1:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12)
  ;
  --elevation-2:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)
  ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1a1c1e;
    --color-on-background: #e3e2e6;
    --color-primary: #a4c9ff;
    --color-on-primary: #00315d;
  }
}

body {
  /* background-color: var(--color-background); */
  /* color: var(--color-on-background); */
  margin: 0;
}

.container {
  display: flex;
  gap: calc(2 * var(--spacing-track));;
  padding: calc(2 * var(--spacing-track));
  flex-wrap: wrap;
  /* background-color: lightgray; */
}

.icon-box {
  flex-basis: 40%;
  flex-grow: 1;
  padding: calc(2 * var(--spacing-track));
  /* background-color: var(--color-background); */
  /* color: var(--color-on-background); */
  user-select: none;
  cursor: pointer;
  transition: color 150ms, background-color 150ms, box-shadow 150ms;
  border-radius: calc(var(--spacing-track) / 2);
  box-shadow: var(--elevation-1);
}

.icon-box:hover {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  box-shadow: var(--elevation-2);
}

.icon-box alwatr-icon {
  font-size: 2rem;
}

.icon-box .title {
  margin: var(--spacing-track) 0;
}

.icon-box p {
  margin: 0;
}
