body {
    margin: 0;
    font-family: system-ui;
}

.header {
    padding: 3em 5em;
    text-align: center;
    background-color: #B45340;
    background-image: url("../images/header-background.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.navigation {
    margin-bottom: 3em;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
}

.nav-link {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.nav-link:hover {
    color: #000;
}

.avatar {
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 0 hsla(0,0%,0.5);
}

.title {
    display: block;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 hsla(0,0%,0.5);
}

.button {
    display: inline-block;
    padding: 1em 2em;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: 1px 1px 0 hsla(0,0%,0.5);
    border-radius: 3px;
}

.contact-link {
    background-color: #fff;
    color: #B45340;
}

.contact {
    text-transform: capitalize;
}
/* projects */

.projects {
    padding: 40px;
}

.project-lists {
    margin: 80px auto;
    padding: 0;
    width: 85%;
}

.project {
    display: inline-block;
    width: 21%;
    margin: 10px 1.8%;
    list-style-type: none;
}

.project img {
    display: block;
    max-width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.project img.active {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: scale(2);
}

.second-heading {
    text-align: center;
    text-transform: capitalize;
}

/* social part */

.socials {
    background-color: #3b4151;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.twitter-message {
    margin: 1em auto;
    width: 40%;
    line-height: 25px;
}

.twitter-link {
    background-color: rgb(48, 126, 204);
    color: white;
}

/* footer */

.footer{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.social-networks {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
}

.social-network {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}

.social-link {
    color:#6d7793;
    text-decoration: none;
    margin: 0 10px;
    fill: #6d7793;
}

.copyright {
    display: inline-block;
    width: 49%;
    text-align: center;
    color:#6d7793;
}

/* contact me form */

.contact {
    text-align: center;
}

.form {
    max-width: 400px;
    margin: 20px auto;
}

.label {
    color: #6d7793;
    text-transform: capitalize;
}

.input {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #B45340;
    border-radius: 5px;
    font: inherit;
}

.input:hover {
    background-color: #e6e4ca;
}

.submit {
    display: block;
    padding: 10px 30px;
    border: none;
    background-color: rgb(48, 126, 204);
    color: #fff;
    margin: 10px auto;
}

/* table */

.table {
    width: 400px;
    margin: 100px auto;
    color: #B45340;
    border-collapse: collapse;
}

.table caption {
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #6d7793;
    font-weight: bold;
}

.table td,
.table th {
    border: 1px solid;
    text-transform: capitalize;
    padding: 10px 30px;
}

.table td {
    text-align: center;
}

.table tr:nth-child(even){
    background-color: #deb4ab;
}
.table tr:nth-child(odd){
    background-color: #abd6de;
}

