body {
    text-align: center;
    background-color: gray;
    user-select: none;
    margin-left: 600px;
    padding: 100px;
    width: 480px; 
    margin-top: 50px;
  
 }
 h1 {
  text-decoration: none;
  color: white;
 }
 a {
   text-decoration: none;
   user-select: none;
 }
 .photo {
   width: 130;
   height: 140;
   border-radius: 50%;
   margin-top: 30 ;
   border: 2px solid black;
 }
 .button {
   width: 100px;
   background-color: #000000;
   color: white;
   padding: 10px;
   cursor: pointer;
   margin: 12px;
 }
 .section {
   margin: 1px;
   padding: 90px;
   border: 2px solid black;
   background-image: url("https://github.com/Amirmmolazemi/Amirmmolazemi.github.io/blob/main/photo/blue.jpg?raw=true")
 }
