html {
  height : 100hv;
}


body {
  background-color : #ff5;
}


.frame{
  width : 320px;
  height : 650px;
  margin-left: auto;
  margin-right : auto;
  border-radius : 40px ;
  border : 6px solid black;
  background-color : #674;
  box-shadow : rgba(0 , 0 , 0 , 0.5) 25px 15px 10px 5px ;  
}


.back {
  background-image : url("https://github.com/abolfazlrasoulizade/abolfazlrasoulizade.github.io/blob/main/img/Vector_29.jpg?raw=true");
  background-size : 440px;
  border-top-right-radius : 32px ;
  border-top-left-radius : 33px ;
  background-repeat : no-repeat;
}


.profile{
  background-image : url("https://github.com/abolfazlrasoulizade/abolfazlrasoulizade.github.io/blob/main/img/Untitled-3.png?raw=true");
  height : 250px;
  width : 240px; 
  background-repeat : no-repeat;  
  margin-left : 130px;
}

.camera {
  margin-left : auto;
  margin-right : auto;
  width : 100px;
  height : 20px;
  background-color : black;
  border-bottom-right-radius : 15px;
  border-bottom-left-radius : 15px;
}

.github {
  width : 71.11px;
  height : 71.11px;
  margin-left: 60px;
}

.gmail {
  margin-left: 40px;
  height :60px;
}
